.controlBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  gap: 20px;
  padding: 5px;
}

.start {
  width: 145px;
  height: 55px;
  background: var(--lightgreen);
  border-radius: 0px 0px 3px 0px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.stop {
  width: 145px;
  height: 55px;
  background: var(--red);
  border-radius: 0px 0px 3px 0px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.stop:hover {
  background: var(--red);
}

.stop:disabled {
  border: 1px var(--red) solid;
  color: var(--red);
}
