.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.brand {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 300;
  color: var(--accent);
}

@media all and (min-width: 1024px) {
  .title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin: 0 27px 0 0;
    font-size: 24px;
    line-height: 24px;
  }

  .brand {
    padding-left: 20px;
    font-weight: normal;
    font-size: 24px;
    color: var(--accent);
  }
}
