.buttons {
  display: flex;
  flex-flow: column;
}

.button {
  width: 162px;
  height: 55px;
  background: var(--red);
  border-radius: 0px 0px 3px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 15px, 50px, 15px, 50px;
  margin-top: 20px;
}

.cancel {
  border-radius: 0px 0px 3px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  line-height: 16px;
  text-align: center;
  padding: 15px, 50px, 15px, 50px;
  margin-top: 20px;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}
