.weekchart {
    height: 460px;
    background-color: var(--backgroundSecondary);
    position:relative; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;   
    padding-left: 56px; 
    gap: 20px;           
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center; 
    z-index: 3;
    padding-bottom: 51px;
}

@media all and (max-width: 1054px) {
    .weekchart {
        width: 100%;
    }
}

@media (min-width: 1054px) {
    .weekchart {
        width: 100%;
    }
}