.daytotals {
    width: 296px;
    height: 260px;
    background-color: var(--greyF4);
    padding: 20px;
}

.minutes {
    color: var(--red);
}

@media all and (max-width: 1280px) {
    .daytotals {
        padding-top: 10px;
        height: 179px;
    }
}   