.daytotals {
    width: 296px;
    height: 260px;
    padding: 20px;
    color: var(--foreground);
    background-color: var(--backgroundSecondary);
}

.minutes {
    color: var(--red);
}

@media all and (max-width: 1280px) {
    .daytotals {
        padding-top: 10px;
        height: 179px;
    }
}   