.weekselector {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--backgroundSecondary);
  width: 370px;
  height: 55px;
}

.button {
  width: 370px;
  height: 55px;
  padding: 19px;
  line-height: 17px;
  display: flex;
  flex-flow: row wrap;
  color: var(--foreground);
}

.arrow {
  margin-left: auto;
}

.arrowOpen {
  margin-left: auto;
  transform: rotate(180deg);
}

.weekselector button {
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.item {
  background-color: var(--backgroundSecondary);
  width: 370px;
  height: 55px;
  padding: 19px;
  line-height: 17px;
  cursor: pointer;
  border-top: 1px var(--greyDE) solid;
}

.item:hover {
  background-color: var(--greyCC);
}

.decoration {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
