.counterheader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: var(--greyC4);
    color: white;
    height: 55px;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: middle;
    line-height: 55px;    
}

.running {
    background: var(--red);    
}

.breakRunning {
    background: var(--green);    
}

.counterheader span {
    color: white;
}

.total {
    margin-left: auto;
}