.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
  padding: 80px;
}

@media all and (max-width: 1280px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: top;
    padding: 80px;
  }
}
