.main {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  align-items: top;
  padding: 50px;
}

@media all and (max-width: 1024px) {
  .main {
    display: flex;
    flex-flow: column nowrap;
    align-items: top;
    padding: 50px;
  }
}
