.popup {
  width: 166px;
  margin-left: -72px; /* half the width of the popup - half the width of the parent button */
  margin-top: 15px; /* half the height of the parent button */
  position: relative;
  text-align: center;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--greyC4);
  z-index: 11;
}
.popupWrapper {
  border-radius: 4px;
  position: relative;
  background-color: var(--white);
  z-index: 10;
}
.popup:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.popup:before {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: #fff;
  position: absolute;
  z-index: 9;
  border: 1px solid var(--greyC4);
}
.popup.arrowTop:before {
  left: calc(50% - 10px);
  top: -8px;
}
.popup.arrowRight:before {
  top: calc(50% - 10px);
  right: -8px;
}
.popup.arrowBottom:before {
  left: calc(50% - 10px);
  bottom: -8px;
}
.popup.arrowLeft:before {
  top: calc(50% - 10px);
  left: -8px;
}

