.stoptotals {
    display: flex;
    flex-flow: row wrap;
    width: 408px;
    height: 179px;
    background-color: var(--greyF4);
    padding: 20px;
    align-items: center;
}

.active {
    background-color: var(--blue);
}

.header {
    font-size: 24px;
    line-height: 25px;
}

.percent {
    font-size: 64px;
    line-height: 150px;
}

.icon {
    margin-left: auto;
    line-height: 80px;
}

@media all and (max-width: 1024px) {
    .stoptotals {
        width: 100%;
    }
}