.counter {
    min-width: 733px;
    min-height: 503px;
    background: #F4F4F4;
}

.header {
    background: var(--greyC4);
    color: white;
    height: 55px;    
    padding-left: 40px;
    vertical-align: middle;
    line-height: 55px;
}

.body {
    padding-top: 50px;
    line-height: 179px;
    font-size: 150px;
    font-weight: 200;
    vertical-align: middle;
    text-align: center;
}

.task {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 30px;
}

.taskHeader {
    color: var(--greyC4);
    font-size: 16px;
    line-height: 17px;
}