.counter {
  min-height: 503px;
  max-height: 503px;
  background: #f4f4f4;
}

.body {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 50px;
  line-height: 179px;
  font-size: 150px;
  font-weight: 200;
  vertical-align: middle;
}

.task {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 30px;
}

.taskHeader {
  color: var(--greyC4);
  font-size: 16px;
  line-height: 17px;
}

.placeholder {
  min-height: 50px;
  min-width: 50px;  
  height: 50px;
}

@media (min-width: 1024px) {
    .counter {
      min-height: 503px;
    }
  }

@media (min-width: 1024px) and (max-width: 1280px) {
  .counter {
    width: 553px;
    min-width: 553px;
    max-width: 553px;
    min-height: 503px;
  }
}

@media (min-width: 1280px) {
  .counter {
    width: 733px;
    min-width: 733px;
    max-width: 733px;
    min-height: 503px;
    background: #f4f4f4;
  }
}
