@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

:root {
  --black: #333333;
  --whitelightness: 100%;
  --white: hsl(0, 0%, var(--whitelightness));
  --greyF3: #f3f3f3;
  --grey33: #333;
  --greyEC: #ececec;
  --greyCC: #cccccc;
  --greyF4: hsl(0, 0%, calc(var(--whitelightness) - 4%));
  --greyDE: #DEDEDE;
  --greyD9: #D9D9D9;
  --greyC4: #c4c4c4;
  --grey99: #999999;
  --grey66: #666666;
  --darkred: #B7280F;
  --red: #DC3E22;
  --orange: #EE735D;
  --coral: #EA8979;
  --green: #899441;
  --lightgreen: #A8B64F;
  --pink: #FFDDA9;
  --violet: #DFDCFE;
  --blue: #C5F1FF;
  --brightBlue: rgb(125, 210, 247);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white);
    --backgroundSecondary: var(--greyF4);
    --foreground: var(--grey33);
    --accent: var(--red);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--grey33);
    --backgroundSecondary: var(--greyC4);
    --foreground: var(--white);
    --accent: var(--brightBlue);
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 33px;
  font-family: 'SF UI Display', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

* {
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--darkred);
  display: inline-block;  
  width: 1em;  
  margin-left: -1em; 
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}